{% extends 'layout/default-view.html.twig' %}

{% set title = character.name %}
{% set mainClass = 'character' %}
{% set thumbnail = asset(vich_uploader_asset(character, 'uploadThumbnail')) %}
{% set description = character.description %}

{% block listInGame %}
    <h2 class="p-3 text-center col-md-12">{{'characters.view.game_characters.title'|trans}}</h2>
    {% for gameCharacter in character.gameCharacters %}
        {% include 'layout/animated-card-content.html.twig' with {
            'cardThumbnail' : asset(vich_uploader_asset(gameCharacter, 'uploadThumbnail')),
            'cardTitle' : gameCharacter.game.name,
            'cardUrl' :  path('games_view', {slug: gameCharacter.game.slug}),
            'cardClass' : 'col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0',
        }%}
    {% endfor %}
{% endblock %}