{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}{{character.name}}{% endblock %}

{% block body %}
    <main class="character">
        <div class="container-fluid p-0">
            <section class="row ml-0 mr-0 character-description justify-content-center">
                <h2 class="mt-5 text-center">{{character.name}}</h2>
                <div class="col-12 text-center">
                    <p>{{character.description|raw}}</p>
                </div>
            </section>
            <section class="row ml-0 mr-0 justify-content-center character-games">
                <h2 class="p-3 text-center col-md-12">{{'characters.view.game_characters.title'|trans}}</h2>
                {% for gameCharacter in character.gameCharacters %}
                    {% include 'layout/animated-card-content.html.twig' with {
                        'cardThumbnail' : asset(vich_uploader_asset(gameCharacter, 'imageFile')),
                        'cardTitle' : gameCharacter.game.name,
                        'cardUrl' :  path('games_view', {slug: gameCharacter.game.slug}),
                    }%}
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}