{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('signup') }}
{% endblock %}

{% block title %}{{'reset_password.forgot_password_confirm.title'|trans}}{% endblock %}

{% block body %}
    <main class="signup d-flex align-items-center">
        <div class="container">
            <section>
                <h1 class="text-center content-title">{{'reset_password.forgot_password_confirm.title'|trans}}</h1>
                <p>
                    {{'reset_password.forgot_password_confirm.text'|trans|replace({
                        '%DURATION_VALUE%':  tokenLifetime|date('g'),
                        '%URL_FORGOT_PASSWORD%': path('forgot_password')
                    })|raw}}
                </p>
            </section>
        </div>
    </main>
{% endblock %}