main{
    background: var(--bg-mario-object);
    color: #ffffff;
}

main .bloc-title{
    font-size: 2.5em;
    font-family: "Roboto bold";
}

main .btn-primary:hover,
main .btn-primary:hover{
    filter : brightness(150%)
}

main .license-description .license-description-text{
    text-align: justify;
    font-size: 20px;
    font-family: "Roboto regular";
}

main .license-logo{
    background-image: url(/img/licenses/first-block-bkg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 640px;
}

main .license-logo img{
    max-width: 100%;
}