@keyframes slideIn{
    0%{
        opacity : 0;
        transform : translate(0, -100%);
    }

    100%{
        opacity : 1;
        transform : translate(0);
    }
}

@keyframes slideOut{
    0%{
        opacity : 1;
        transform : translate(0);
    }
    100%{
        opacity : 0;
        transform : translate(0, -100%);
    }
}

@keyframes background-animation {
    100%{
        background-position: -1000px -3000px;
    }
}

@keyframes closeMenu{
    0%{
        padding-left:250px;
    }
    100%{
        padding-left:0;
    }
}

@keyframes openMenu{
    0%{
        padding-left:0;
    }
    100%{
        padding-left:250px;
    }
}