.animated-card{
    overflow : hidden;
}

.animated-card .animated-card-content{
    background : rgba(0,0,0,0.8);
    animation: slideOut 0.5s forwards;
}

.animated-card .animated-card-content .animated-card-title{
    color : #ffffff;
    font-size: 35px;
    margin-bottom: 10vh;
}

.animated-card .animated-card-thumbnail{
    max-height: 100%;    
    max-width: 100%;
}

.animated-card:hover .animated-card-content,
.animated-card.focused .animated-card-content{
    animation: slideIn 0.5s forwards;
}

.animated-card .animated-card-content .btn{
    padding: 10px 20px;
    font-size: 1.5em;
}