.btn.btn-lg{
    font-size : 20px;
    border-radius: 5px;
   /* font-family : @font-family-sans-serif-bold;*/
    position:relative;
    padding:15px 40px;
    overflow : hidden;
    line-height: 1;
}

.btn:hover:not(:disabled), .btn:focus:not(:disabled){
    filter: brightness(110%);
}