

.header .navbar-nav .nav-item{
    margin-right: 40px;
}

.header .navbar-nav .nav-item:first-child{
    margin-left: 20px;
}

.header-front .header-right{
    display: flex;
}

.header-front .user-links{
    display: none;
}

@media screen and (max-width: 992px) {
    .header .navbar-nav .nav-item:first-child{
        margin-left: 0;
        
    }

    .header-front .user-links{
        display: block;
    }

    .header-front .header-right{
        display: none;
    }
}


@media screen and (max-width: 575px) {
    .header .navbar-nav .nav-item{
        font-size: 16px;
    }
}