.admin main{
    min-height: 100vh;
}

.admin h1{
    background-color: #D1D1D1;
}

.admin h2{
    background-color: #EFEFEF;
}

.admin section > div:not(.flash-message){
    border-radius: 0 0 10px 10px;
}

.btn.btn-primary{
    color : #fff;
    background-color: #000;
    border-color: #000;
}
.btn.btn-default{
    color : #000;
    background-color: #B1B1B1;
}

@media screen and (max-width: 992px) {
    .admin h1{
        font-size: 25px;
    }
}