:root{
    /*==========  Background  ==========*/
    --bg-mario-object: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/background-description-homepage2.jpg');
    --perspective-mario-object: 1000px;
    --perspective-origin-mario-object: 50% 50%;
    --animation-mario-object: background-animation 120s linear infinite;
}