{% extends 'admin/layout/layout.html.twig' %}

{% block body %}
     <main class="list">
        <div class="container-fluid p-0">
            {% include 'admin/layout/menu-toogle.html.twig' %}
        </div>
    </main>
{% endblock %}