<!DOCTYPE html>
<html lang="fr" class="admin">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{asset('img/favicon.ico')}}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('layout-backoffice') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'admin/layout/header.html.twig' %}
        {% block body %}{% endblock %}        
        <script src="https://cdn.tiny.cloud/1/skqlok5z0mmc5pao6d8707cl857yi7rhxileuxd8yo5z2x2g/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        {{ encore_entry_script_tags('layout-backoffice') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
