{% extends 'admin/layout/layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('list-backoffice') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('list-backoffice') }}
{% endblock %}

{% block body %}
    <main class="list"
        {% block mainDataAttributes %}
        {% endblock %}
    >
        <div class="container-fluid">
            <section class="list-content">
                {% include 'admin/layout/flash-messages.html.twig' %}
                <h1 class="pt-3 pb-3 m-0 text-center">
                    {% block title %}
                    {% endblock %}
                </h1>
                <div class="row justify-content-md-center border-top-0 border m-0 p-3">
                    <div class="col-md-11">
                        <div class="list-header block-content list-group-item">
                            {% block listHeader %}
                            {% endblock %}
                        </div>
                        <div class="list-group">
                            {% block listRows %}
                            {% endblock %}
                        </div>
                        <div class="navigation mt-3">
                            {% block navigation %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    {% include 'admin/layout/thumbnail-modal.html.twig' %}
{% endblock %}