.front main.super-smash-bros{
    /* background-image: url(/img/licenses/super-smash-bros/background.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-image: url(/img/licenses/super-smash-bros/background.png) ,linear-gradient(to bottom, #000000 0%, #999999 50%, #ffffff 100%);
    background-color: hsl(0, 0, 100%);
    color: #ffffff;
}

main.super-smash-bros .container-fluid{
    background-color: rgba(0, 0, 0, 0.45);
}

main.super-smash-bros .license-logo{
    background-image: url(/img/licenses/super-smash-bros/first-block-bkg.jpg);
    background-position: 0%;
    background-position: top center;
    animation: slide-left-background 120s forwards;
}

main.super-smash-bros .license-logo.animation-finish{
    animation: slide-right-background 40s forwards;
}

main.super-smash-bros .license-logo .logo img{
    filter: drop-shadow(1px 1px 8px #000);
}

main.super-smash-bros .license-best-games .animated-card-title,
main.super-smash-bros .bloc-title,
main.super-smash-bros .btn-primary{
    font-family: "Bitter bold";
}


main.super-smash-bros .license-description p,
main.super-smash-bros .game-history p{
    font-family: "Bitter regular";    
    font-size: 20px;
}

main.super-smash-bros .btn-primary,
main.super-smash-bros .btn-primary:hover:not(:disabled):not(:disabled), 
main.super-smash-bros .btn-primary:focus:not(:disabled):not(:disabled),
main.super-smash-bros .btn-primary:active:not(:disabled):not(:disabled){
    background: #000 url(/img/licenses/super-smash-bros/btn-bkg.png) repeat-x 50% 100%;
    border: none;
    background-size: auto 58px;
}

main.super-smash-bros .slick-dots {
    bottom: -50px;
}

main.super-smash-bros .slick-dots li button, 
main.super-smash-bros .slick-dots li button:before, 
main.super-smash-bros .slick-dots li.slick-active button,
main.super-smash-bros .slick-dots li.slick-active button:before {
    font-size: 40px;
}

main.super-smash-bros .slick-dots li, 
main.super-smash-bros .slick-dots li button,
main.super-smash-bros .slick-dots li button:before{
    width: 40px;
    height: 40px;
}

main.super-smash-bros .slick-dots li button:before{
    background-image: url(/img/licenses/super-smash-bros/dots.png);    
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

main.super-smash-bros .slick-dots li.slick-active button:before{
    background-image: url(/img/licenses/super-smash-bros/dots-active.png);
}


@media screen and (max-width: 767px) {
    main.super-smash-bros .bloc-title{
        display: block;
    }

    main.super-smash-bros .license-logo{
        min-height: 400px;
    }
}

@media screen and (max-width: 575px) {
    main.super-smash-bros{
        background-image: none;
    }
    main.super-smash-bros .license-logo{
        min-height: 300px;
    }
}