main.the-legend-of-zelda{
    background-image: url(/img/licenses/the-legend-of-zelda/background.png),linear-gradient(to bottom, #023326 0%, #053335 50%, #0a1928 100%);
    color: #ffffff;
}

main.the-legend-of-zelda .license-logo{
    background-image: url(/img/licenses/the-legend-of-zelda/first-block-bkg.jpg);
    background-position: top center;
}
main.the-legend-of-zelda .license-logo .logo img{
    filter: drop-shadow(1px 1px 8px #000);
}

main.the-legend-of-zelda .bordered-container > div:last-child:after{
    background: url(/img/licenses/the-legend-of-zelda/border.png) bottom center;
    content: "";
    height: 86px;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: -47px
}

.game.the-legend-of-zelda .bordered-container > div:last-child:after{
    bottom: -80px;
}

main.the-legend-of-zelda .animated-card-title,
main.the-legend-of-zelda .bloc-title,
main.the-legend-of-zelda .btn-primary{
    font-family: "Bitter bold";
}

main.the-legend-of-zelda .bloc-title{
    padding: 0 3.125rem;
    display: inline-block;
}

main.the-legend-of-zelda .bloc-title:before,
main.the-legend-of-zelda .bloc-title:after{
    background: url(/img/licenses/the-legend-of-zelda/title-decoration.png) center center no-repeat;
    content: '';
    position: absolute;
    height: 30px;
    width: 44px;
    top: 3px;
}

main.the-legend-of-zelda .bloc-title:before{
    left: 0;
}

main.the-legend-of-zelda .bloc-title:after{
    transform: scaleX(-1);
    right: 0;
}

main.the-legend-of-zelda .license-description .license-description-text{
    font-family: "Bitter regular";
}

main.the-legend-of-zelda .btn-primary,
main.the-legend-of-zelda .btn-primary:hover:not(:disabled):not(:disabled), 
main.the-legend-of-zelda .btn-primary:focus:not(:disabled):not(:disabled),
main.the-legend-of-zelda .btn-primary:active:not(:disabled):not(:disabled){
    color: #B99658;
    background-color: #000000;
    border-color: #B99658;
}

main.the-legend-of-zelda .slick-dots {
    bottom: -50px;
}

main.the-legend-of-zelda .slick-dots li button, 
main.the-legend-of-zelda .slick-dots li button:before, 
main.the-legend-of-zelda .slick-dots li.slick-active button,
main.the-legend-of-zelda .slick-dots li.slick-active button:before {
    font-family: "Triforce regular";
    content: "*";
    font-size: 40px;
}

main.the-legend-of-zelda .slick-dots li, 
main.the-legend-of-zelda .slick-dots li button,
main.the-legend-of-zelda .slick-dots li button:before{
    width: 40px;
    height: 40px;
}

main.the-legend-of-zelda .slick-dots li button:before{
    color: #B99658;
    line-height: 40px;
}

main.the-legend-of-zelda .slick-dots li.slick-active button:before{
    color: #f3ef0b;
}

@media screen and (max-width: 767px) {
    main.the-legend-of-zelda .bloc-title{
        display: block;
    }

    main.the-legend-of-zelda .license-logo{
        min-height: 400px;
    }
}

@media screen and (max-width: 575px) {
    main.the-legend-of-zelda .license-logo{
        min-height: 300px;
    }
}