{% extends 'layout/default-view.html.twig' %}

{% set title = console.name %}
{% set mainClass = 'console' %}
{% set thumbnail = asset(vich_uploader_asset(console, 'uploadThumbnail')) %}
{% set description = console.description %}

{% block listInGame %}
    <h2 class="p-3 text-center col-md-12">{{'consoles.view.console_games.title'|trans}}</h2>
    {% for game in console.games %}
        {% include 'layout/animated-card-content.html.twig' with {
            'cardThumbnail' : asset(vich_uploader_asset(game, 'uploadThumbnail')),
            'cardTitle' : game.name,
            'cardUrl' :  path('games_view', {slug: game.slug}),
            'cardClass' : 'col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0',
        }%}
    {% endfor %}
{% endblock %}