{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}{{item.name}}{% endblock %}

{% block body %}
    <main class="item">
        <div class="container-fluid p-0">
            <section class="row ml-0 mr-0 item-description justify-content-center">
                <h2 class="mt-5 text-center">{{item.name}}</h2>
                <div class="col-12 text-center">
                    <p>{{item.description|raw}}</p>
                </div>
            </section>
            <section class="row ml-0 mr-0 justify-content-center item-games">
                <h2 class="p-3 text-center col-md-12">{{'items.view.items_games.title'|trans}}</h2>
                {% for gameItem in item.gameItems %}
                    {% include 'layout/animated-card-content.html.twig' with {
                        'cardThumbnail' : asset(vich_uploader_asset(gameItem, 'imageFile')),
                        'cardTitle' : gameItem.game.name,
                        'cardUrl' :  path('games_view', {slug: gameItem.game.slug}),
                    }%}
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}