{% extends 'layout/layout.html.twig' %}

{% block body %}
    <section class="licenses-list list animated-mario-background" role="main">
        <div class="container-fluid p-0">
            <div class="list-header">
                <h2 class="p-3 text-center">
                    {% block title %}
                    {% endblock %}
                </h2>
                <div class="row justify-content-center p-2">
                    <div class="col-md-10 col-12 ">
                        {% block searchForm %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row ml-0 mr-0 justify-content-center list-block">
                {% block listBlock %}
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}